body{
  background:#fff8ef;
  font-family:Georgia, serif;
  text-align:center;
  padding:40px;
}

h1{
  color:#183a8a;
  font-size:42px;
}

#quote{
  font-size:28px;
  color:#333;
  max-width:700px;
  margin:auto;
  padding:30px;
  background:white;
  border-radius:20px;
  box-shadow:0 5px 20px rgba(0,0,0,.1);
}

button{
  margin-top:30px;
  background:#1c2f8a;
  color:white;
  border:none;
  padding:15px 30px;
  border-radius:50px;
  font-size:20px;
  cursor:pointer;
}
